@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Open+Sans&family=Poppins&family=Raleway&family=Roboto&family=Roboto+Slab:wght@100&family=Work+Sans&display=swap');

body{
    font-family:'Roboto', sans-serif;
    text-align: left;
}

#css{
    font-size: large;
    font-variant: initial;
    font-weight: 300;
    font-style: italic;
}

p{
    font-size: 15px;
}